@import "base/variables";
@import "base/mixins";
@import "base/reset";

.projects-wrapper{
    width: 100%;
    background: #DADAD9;
    color: $primary-colour;

    .projects-container{
        width: 55%;
        min-width: 40em;
        margin: 0 auto;
    }

    .project-list{
        width: 100%;

        li{
            width: 100%;
            display: block;
            overflow: hidden;
            margin: 3em 0;
            border-left: 3px solid $primary-colour-complement;
            background: rgba(182,158,109, .5);
            padding: 1em 0;
            position: relative;
            a{
                display: block;
                float: left;
                min-width: 8em;
                 img{
                     width: 8em;
                     height: 8em;
                     display: block;
                     margin: 0 auto;
                 }
            }   
            a.project-cell{
                width: 20%;
            }         
            .project-item-description{
                width: 75%;

                .description-content{
                    width: 80%;
                    margin: .5em 0;
                }
            }
        }

        .project-cell{
            float: left;

            &.project-item-image{
                margin: 0 1em;
            }

            .description-header{
                margin: 0;
            }
            .project-github-icon{
                position: absolute;
                right: 0;
                top: 0;
                img{
                    display: block;
                }
            }
        }
    }
}