<<<<<<< Updated upstream
html{
  background: url("../images/basic-weather-background.jpg") no-repeat;
  background-size: cover;
  background-position: center;
}
body{
  overflow:hidden;
  background: rgba(0,0,0,.15);
  color: white;
}
.header{
  text-align: center;
  padding-top: 3vh;
  color: #FFF;
  font-weight: bold;
}

.page-content{
  width: 65%;
  min-width: 800px;
  margin: 20vh auto;
  display: flex;
  align-items: center;
}

.weather-view{
  flex: 7;
  min-height: 25rem;
  font-size: 1.5em;
  background: rgba(0,0,0,.3);

  .form{
    padding: 5rem 0 0 0;
=======
.header{
  text-align: center;
}

.page-content{
  width: 75%;
  min-width: 800px;
  margin: 5rem auto;
  display: flex;
}

.page-content-item{

}

.weather-view{
  border: 1px solid black;
  flex: 20;
  min-height: 25rem;

  .form{
    padding: 5rem 0;
>>>>>>> Stashed changes
    .update-label{
      text-align: center;
      width: 100%;
      display: inline-block;
      margin: 1rem auto .5rem auto;
<<<<<<< Updated upstream
      font-weight: normal;
    }
    .input-container{
      display: block;
      width: 200px;
      position: relative;
      margin: .5rem auto 1rem auto;
      .update-input{
        display: inline-block;
        width: auto;
      }
      .error{
        display: inline-block;
        font-size: .5em;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 100%;
        width: 100%;
        &:before{
          content: "*";
        }
      }
    }

=======
    }
    .update-input{
      display: block;
      margin: .5rem auto 1rem auto;
      width: auto;
    }
>>>>>>> Stashed changes
    .update-action{
      display: block;
      margin: 0 auto;
    }
<<<<<<< Updated upstream

=======
>>>>>>> Stashed changes
  }
}
.weather-display{
  position: relative;
  text-align: center;
  padding: 3rem 0;
  .edit-icon{
    position: absolute;
    top: 1rem;
    right: 1rem;
<<<<<<< Updated upstream
    border: none;
    background: none;
=======
>>>>>>> Stashed changes
  }

  .weather-item{
    display: block;
    margin: 1rem auto;
<<<<<<< Updated upstream
    line-height: 1em;
    font-size: 1em;
  }
  .not-found{
    margin: 7rem 0;
=======
>>>>>>> Stashed changes
  }
}
.loading-container{
  padding: 8rem;
  .loading{
    width: 8rem;
    display: block;
    margin : 0 auto;
  }
}
.difference{
  flex: 1;
<<<<<<< Updated upstream
  text-align: center;
=======
>>>>>>> Stashed changes
}
