@mixin width-calc($width, $mod, $default){
	width: $default;
	width: -webkit-calc(#{$width} - #{$mod});
	width: -moz-calc(#{$width} - #{$mod});
	width: calc(#{$width} - #{$mod});
}
@mixin height-calc($height, $mod, $default){
	height: $default;
	height: -webkit-calc(#{$height} - #{$mod});
	height: -moz-calc(#{$height} - #{$mod});
	height: calc(#{$height} - #{$mod});
}