.social-container{
  @include width-calc(100%, 80px, 80%);
  color: #FFF;
  margin: 0 40px;
  @media screen and (max-width: 34em){
    display: none;
  }

  ul {
    display: block;
    width: 100%;
    text-align: center;
    li{
      display: inline-block;
      margin: 0 1.5em;
      img{
        display: inline-block;
        width: 5rem;
        height: 5rem;
      }
    }
  }
}
