div.center{
    background: rgba(0, 0, 0, .7);
    padding: 5px 0px;
    width: 100%;
}

.center .inner-content{
    margin: 0px auto;
    color: #ccc;
    width: 50%;
}

.center .inner-content-image{
    text-align: center;
}